<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Importa o Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-400">
    <!-- Container principal -->
    <div class="container bg-white w-max h-max mx-auto my-20 px-14 py-10 rounded-lg">
        <!-- erro na conexão do banco -->
        <h1 class="text-5xl font-bold ">Erro na conexão com o banco de dados</h1>
        <h1 class="text-3xl text-red-500 ">{{errorBD['error']}}</h1>

    </div>    
</body>
</html>