<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Relatorio de Vendas</title>
</head>

<body class="bg-gray-400">
    <!-- Área superior com título e botão -->
    <div id="superiorArea" class="my-5 flex justify-center items-center flex-col">
        <h1 class="text-5xl text-center">Relatorio de Vendas</h1>
        <div id="butaoArmazem" class="mt-10 flex justify-around w-1/2">
            <a href="/storage" class="bg-red-500 text-white font-bold py-2 px-4 rounded-md">Voltar</a>
        </div>
    </div>
    <!-- Lista de produtos vendidos -->
    <div id="listaPrdutos" class="w-max m-auto px-20 py-5 bg-white ">
        <table class="table-auto border-collapse border border-slate-500">
            <tr>
                <th class="border border-slate-600 p-2 bg-gray-200">Nome</th>
                <th class="border border-slate-600 p-2 bg-gray-200">Quantidade</th>
                <th class="border border-slate-600 p-2 bg-gray-200">Data / Hora</th>
                <th class="border border-slate-600 p-2 bg-gray-200">Destino</th>
            </tr>
            <!-- Loop para exibir os produtos vendidos -->
            {% for i in productsSale %}
            <tr>
                <td class="border border-slate-600 p-2">{{productsSale[i]["productName"]}}</td>
                <td class="border border-slate-600 p-2">{{productsSale[i]["saleQuantity"]}}</td>
                <td class="border border-slate-600 p-2">{{productsSale[i]["dateTime"]}}</td>
                <td class="border border-slate-600 p-2">{{productsSale[i]["productDestination"]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>